html, body{
    margin: 0;
    padding: 0;
   width: 100%;
height: 100%;
    overflow: hidden;
}

#root {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* .Header {
  height: 52px;
}
.Notice {
      height: 42px;
} */

.main-container {
  height: calc(100vh - 100px); 
  display: flex;
  justify-content: center; 
  align-items: center; 
}